/* LETRA GENÉRICA */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* LETRAS DE MENU PRINCIPAL */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* ICONOS DE REDES SOCALES */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/* ICONOS DE 'WHAT I DO' */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
    --color-bkp1: white;
    --color-bkp2: #d6ed17;
    --color-bkp3: rgb(248, 249, 250);
    --color-bkp4: rgb(230, 230, 230);
}

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.bkgColor1{
    background-color: var(--color-bkp1);
}

.bkgColor2{
    background-color: var(--color-bkp2);
}

.bkgColor3{
    background-color: var(--color-bkp3);
}

body{
    /* font-family: 'Hind Guntur', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.formatPanel{
    width: 85%;
    display: flex;
    height: 100%;
    margin: 0 auto;
}

.divHeader, #divContSecMiain{
    justify-content:space-between;
    align-items: center;
}

.divTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorCuad{
    width: 100%;
}

.pTitle{
    margin-top: 100px;
    padding: 5px 10px;
    background-color: var(--color-bkp2);
}

.h1Title{
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0px 50px 0px;
}

header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 1px solid var(--color-bkp3);
}

.fonMenu{
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
}

#nameSec{
    letter-spacing: 5px;
}

.itemBarMenu{
    margin-left: 15px;
    letter-spacing: 2px;
    font-size: 20px;
}

.aMenu{
    text-decoration: none;
    color: black;
    transition: 300ms color ease-in;
}

header i{
    margin-left: 5px;
}

.aMenu:hover{
    color: var(--color-bkp2);
}

section, footer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#div1SecMain{
    line-height: 70px;
    display: flex;
    flex-direction: column;
}

#div1SecMain > h2 {
    font-weight: 300;
    font-size: 35px;
}

#div1SecMain div{
    margin-top: 20px;
}

@keyframes escribir {
    0%, 100%{
        width: 0%;
    }
    40%,60%{
        width: 100%;
    }
}

@keyframes parpadeo{
    0%,100%{
        border-color: transparent;
    }
    50%{
        border-color: black;
    }
}

#h1Job{
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    font-size: 50px;
    overflow: hidden;
    border-right: 0.25em solid black;
    animation: escribir 5.4s steps(34) infinite,
               parpadeo 0.3s steps(1) infinite;
}

#btnViewJobs{
    text-decoration: none;
    padding: 15px 20px;
    background-color: black;
    color: white;
    transition: 300ms all ease-in;
}

#btnViewJobs:hover{
    background-color: var(--color-bkp1);
    color: black;
    box-shadow: 5px 5px 10px black;
}

#contact{
    margin-left: 30px;
    color: black;
    transition: 300ms all ease-in;
}

#contact:hover{
    color:var(--color-bkp1);
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
}

.arrowCont{
    margin-left: 5px;
    font-weight: bold;
}

#divFigure{
    height: 400px;
    width: 400px;
    margin-right: 20px;
    margin-top: -20px;
    animation: ampliarImg 1.5s ease-out;
}

@keyframes ampliarImg{
    0%{
        height: 0px;
        width: 0px;
        margin-right: 220px;
    }
    100%{
        height: 400px;
        width: 400px;
        margin-right: 20px;
    }
}

#imgOwn{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 60rem;
    border: 12px solid var(--color-bkp1);
}

#arrowDown{
    margin-top: -60px;
    color: black;
    font-size: 20px;
    animation-name: movArrowDown;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
}

@keyframes movArrowDown{
    from{
        opacity: 0%;
        transform: translate(0, 0px);
    }
    to{
        opacity: 100%;
        transform: translate(0, 30px);
    }
}

/* Sec Know Me */
.divKnowMe{
    display: flex;
    flex-direction:column;
}

/* Know me ----------------------------------------------------------------------------------------------------- */
#divMeYear{
    display: flex;
    justify-content: space-between;
}

#divMe {
    width: 70%;
}

#h1IMe {
    font-weight: 100;
}

#h1NameMe {
    font-weight: 700;
    border-bottom: 5px solid var(--color-bkp2);
}

#divMe h1 {
    display: inline-flex;
    margin-bottom: 15px;
}

#pMe {
    line-height: 35px
}

#divYear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pYear {
    padding-top: 25px;
    font-size: 25px;
}

#pYear > strong {
    font-weight: 700;
}

#divYearFig {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--color-bkp2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pYearFig {
    color: rgb(80,80,80);
    font-weight: 500;
    font-size: 150px;
    
}

#pYearFig{
    animation: expandYear 1s;
}

@keyframes expandYear {
    0%{
        transform: scale(0.2);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
/* Date ------------------------------------------------------------------------------------------ */
#divDate {
    display: flex;
    justify-content: space-between;
}

.divDateBlk {
    padding-top: 50px;
    padding-bottom: 30px;
}

.dateTitle {
    color: gray;
}

.dateDescrip {
    color: black;
    font-weight: bold;
}

/* What I Do ------------------------------------------------------------------------- */
#secWhatIDo{
    height: auto;
}

#contWhatIDo {
    flex-direction: column;
}

#contBoxWhatIDo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.boxWhatIDo {
    margin: 0px 25px 50px 0px;
    text-align: center;
}

.imgWhatIDo {
    color: var(--color-bkp2);
    font-size: 55px;
}

.h1WhatIDo {
    margin-top: 5px;
    margin-bottom: 15px;
}

.pWhatIDo {
    text-align: left;
    color: gray;
    font-size: 17px;
}

/* Resume ----------------------------------------------------------------- */
#secResume {
    height: auto;
}

#divContGralResume {
    flex-direction: column;
}

#divContResume {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
}

#divContResume > div {
    width: 100%;
}

#divContResume h1 {
    font-weight: 600;
    margin: 23px 0px 23px 0px;
}

.divBlockResume {
    padding: 0px 15px 0px 16px;
    border-left: 2px solid var(--color-bkp2);
}

.divBlockResume h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 2px 0px;
}

.divBlockResume p {
    font-size: 15px;
    color: rgb(170, 170, 170);
    line-height: 30px;
    padding: 0px 30px 0px 0px;
}

.divBlockResume > h2 + p {
    color: black;
    margin-bottom: 9px;
}

.divBlockResume hr {
    width: 87%;
    border: none;
    height: 1px;
    background-color: rgba(180, 180, 180, 0.2);
    margin: 20px 0px 20px 0px;
}

#h1MySkills { 
    font-weight: 600;
    margin-top: 60px;
}

#divContGralPBar{
    display: flex;
    width: 100%;
}

.divSubContPBar {
    width: 50%;
}

.divContPBarr {
    margin: 30px 0px 30px 0px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.pPBarr{
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    display:flex;
    margin-bottom: 12px;
    justify-content: space-between;
}

.pPBarrPorc {
    text-align: right;
}

.divPBarr{
    width: 100%;
    height: 8px;
    background-color: var(--color-bkp4);
    border-radius: 4px;
}

.hrPBarr {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    height: 100%;
    width: var(--whidthPBarr);
    background-color: var(--color-bkp2);
    animation: aumentarPBar 1.5s ease;
}

@keyframes aumentarPBar {
    0% {
        width: 0%;
    }
    100% {
        width: var(--whidthPBarr);
    }
}

#divButton {
    display: flex;
    justify-content: center;
    width: 100%;
}

#aButtonDown{
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
    padding: 14px 50px;
    margin: 40px 0px 100px 0px;
    font-weight: 600;
    font-size: 15px;
    transition: .5s;
}

#aButtonDown:hover {
    color: white;
    background-color: black;
}

/* Portfolio -------------------------------------------------------------- */
#secJobs {
    height: auto;
}

#divContMenuJobs {
    display: flex;
}

input[type=radio] + label {
    cursor: pointer;
    margin-left: 30px;
    color: gray;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + label{
    font-weight: 600;
    color: black;
    border-bottom: 3px solid var(--color-bkp2);
}

#contJobs {
    flex-direction: column;
}

#contImgJobs {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.imgJobs {
    margin: 10px 20px 10px 0px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}

.formatImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.h2DescImgJob {
    font-size: 24px;
    font-weight: 600;
}

.pescImgJob {
    font-size: 17px;
    font-weight: 300;
}

figcaption {
    display: none;
    color: white;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}

figure{
    transition: 100ms all ease-in;
}

figure:hover figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
}