/* LETRA GENÉRICA */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* LETRAS DE MENU PRINCIPAL */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* ICONOS DE REDES SOCALES */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/* ICONOS DE 'WHAT I DO' */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
    --color-bkp1: white;
    --color-bkp2: #d6ed17;
    --color-bkp3: rgb(248, 249, 250);
    --color-bkp4: rgb(230, 230, 230);
}

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.classBkgColor1{
    background-color: var(--color-bkp1);
}

.classBkgColor2{
    background-color: var(--color-bkp2);
}

.classBkgColor3{
    background-color: var(--color-bkp3);
}

body{
    /* font-family: 'Hind Guntur', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.classFormatPanel{
    width: 85%;
    display: flex;
    height: 100%;
    margin: 0 auto;
}

#divIdHeader, #divIdContSecMiain{
    justify-content:space-between;
    align-items: center;
}

.divClassTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classColorCuad{
    width: 100%;
}

.pClassTitle{
    margin-top: 100px;
    padding: 0px 10px;
    background-color: var(--color-bkp2);
}

.h1ClassTitle{
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0px 50px 0px;
}

header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 1px solid var(--color-bkp3);
}

.classFonMenu{
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
}

#h1IdLogo{
    letter-spacing: 5px;
}

.aClassItemBarMenu{
    margin-left: 15px;
    letter-spacing: 2px;
    font-size: 20px;
}

header i{
    margin-left: 5px;
}

.aClassMenu{
    text-decoration: none;
    color: var(--color-out);
    transition: 300ms ease-in;
}

.aClassMenu:hover{
    color: var(--color-in);
}

section, footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#secIdMain {
    height: 100vh;
}

#divId1secMain{
    line-height: 70px;
    display: flex;
    flex-direction: column;
}

#divId1secMain > h2 {
    font-weight: 300;
    font-size: 35px;
}

#divId1secMain div{
    margin-top: 20px;
}

@keyframes escribir {
    0%, 100%{
        width: 0%;
    }
    40%,60%{
        width: 100%;
    }
}

@keyframes parpadeo{
    0%,100%{
        border-color: transparent;
    }
    50%{
        border-color: black;
    }
}

#h1IdJob{
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    font-size: 50px;
    overflow: hidden;
    border-right: 0.25em solid black;
    animation: escribir 5.4s steps(34) infinite,
               parpadeo 0.3s steps(1) infinite;
}

.classFormatButtons{
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    background-color: black;
    color: white;
    transition: 300ms ease-in;
}

.classFormatButtons:hover{
    border-color: var(--color-bkp1);
    background-color: var(--color-bkp1);
    color: black;
    box-shadow: 5px 5px 10px black;
}

#aIdContact{
    margin-left: 30px;
    color: black;
    transition: 300ms ease-in;
}

#aIdContact:hover{
    color:var(--color-bkp1);
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
}

#iIdArrowCont{
    margin-left: 5px;
    font-weight: bold;
}

#divIdFigure{
    width: 400px;
    margin-right: 20px;
    margin-top: -20px;
    animation: ampliarImg 1.5s ease-out;
}

@keyframes ampliarImg{
    0%{
        opacity: 0%;
        width: 0px;
        margin-right: 220px;
    }
    50%{
        opacity: 100%;
    }
    100%{
        width: 400px;
        margin-right: 20px;
    }
}

#imgIdOwn{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 60rem;
    border: 12px solid  var(--color-bkp1);
}

#iIdArrowDown{
    margin-top: -60px;
    color: black;
    font-size: 20px;
    animation-name: movArrowDown;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
}

@keyframes movArrowDown{
    from{
        opacity: 0%;
        transform: translate(0, 0px);
    }
    to{
        opacity: 100%;
        transform: translate(0, 30px);
    }
}

/* Sec Know Me */
#divIdKnowMe{
    display: flex;
    flex-direction:column;
}

/* Know me ----------------------------------------------------------------------------------------------------- */
#divIdMeYear{
    display: flex;
    justify-content: space-between;
}

#divIdMe {
    width: 70%;
}

#h1IdIMe {
    font-weight: 100;
}

#h1IdNameMe {
    font-weight: 700;
    border-bottom: 5px solid var(--color-bkp2);
}

#divIdMe h1 {
    display: inline-flex;
    margin-bottom: 15px;
}

#pIdMe {
    line-height: 35px
}

#divIdYear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pIdYear {
    padding-top: 25px;
    font-size: 25px;
}

#pIdYear > strong {
    font-weight: 700;
}

#divIdYearFig {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--color-bkp2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pIdYearFig {
    color: rgb(80,80,80);
    font-weight: 500;
    font-size: 150px;
    animation: expandYear 2s;
}

@keyframes expandYear {
    0%{
        transform: scale(0.2);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
/* Date ------------------------------------------------------------------------------------------ */
#divIdDate {
    display: flex;
    justify-content: space-between;
}

.divClassDateBlk {
    padding-top: 50px;
    padding-bottom: 30px;
}

.pClassDateTitle {
    color: gray;
}

.aClassDateDescrip {
    color: black;
    font-weight: bold;
}

/* What I Do ------------------------------------------------------------------------- */
#divIdContWhatIDo {
    flex-direction: column;
}

#divIdContBoxWhatIDo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.divClassBoxWhatIDo {
    padding: 20px 10px 30px 15px;
    text-align: center;
    transition: 0.5s ease-out;
}

.divClassBoxWhatIDo:hover {
    box-shadow: 1px 1px 15px var(--color-bkp2);
}

.iClassIcon {
    color: var(--color-bkp2);
    font-size: 55px;
}

.h3ClassWhatIDo {
    margin-top: 5px;
    margin-bottom: 15px;
}

.pClassWhatIDo {
    text-align: left;
    color: gray;
    font-size: 17px;
}

/* Resume ----------------------------------------------------------------- */
#divIdContGralResume {
    flex-direction: column;
}

#divIdContResume {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
}

#divIdContResume > div {
    width: 100%;
}

#divIdContResume h1 {
    font-weight: 600;
    margin: 23px 0px 23px 0px;
}

.divClassBlockResume {
    padding: 0px 15px 0px 16px;
    border-left: 2px solid var(--color-bkp2);
}

.divClassBlockResume h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 2px 0px;
    transition: 0.5s;
}

.divClassBlockResume p {
    font-size: 15px;
    color: rgb(170, 170, 170);
    line-height: 30px;
    padding: 0px 30px 0px 0px;
    transition: 0.5s;
}

.divClassBlockResume > h2 + p {
    color: black;
    margin-bottom: 9px;
}

.divClassBlockResume hr {
    width: 87%;
    border: none;
    height: 1px;
    background-color: rgba(180, 180, 180, 0.2);
    margin: 20px 0px 20px 0px;
    transition: 0.5s;
}

.divClassBlockResume:hover h2{
    text-shadow: 1px 1px 0.1px var(--color-bkp2);
}

.divClassBlockResume:hover p {
    color: black;
}

.divClassBlockResume:hover hr {
    background-color: black;
}

#h1IdMySkills { 
    font-weight: 600;
    margin-top: 60px;
}

#divIdContGralPBar{
    display: flex;
    width: 100%;
}

.divClassSubContPBar {
    width: 50%;
}

.divClassContPBarr {
    margin: 30px 0px 30px 0px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.pClassPBarr{
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    display:flex;
    margin-bottom: 12px;
    justify-content: space-between;
}

.pClassPBarrPorc {
    text-align: right;
}

.divClassPBarr{
    width: 100%;
    height: 8px;
    background-color: var(--color-bkp4);
    border-radius: 4px;
}

.hrClassPBarr {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    height: 100%;
    width: var(--whidthPBarr);
    background-color: var(--color-bkp2);
    animation: aumentarPBar 1.5s ease;
}

@keyframes aumentarPBar {
    0% {
        width: 0%;
    }
    100% {
        width: var(--whidthPBarr);
    }
}

#divIdButton {
    display: flex;
    justify-content: center;
    width: 100%;
}

#aIdButtonDown{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    background-color: white;
    padding: 14px 50px;
    margin: 40px 0px 100px 0px;
    font-weight: 600;
    font-size: 15px;
    transition: .5s;
}

#aButtonDown:hover {
    color: white;
    background-color: black;
}

/* Portfolio -------------------------------------------------------------- */
#secJobs {
    padding-bottom: 100px;
}

#idContJobs {
    flex-direction: column;
}

#divIdContMenuJobs {
    text-align: center;
}

input[type=radio] + label {
    cursor: pointer;
    margin-left: 30px;
    color: gray;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + label{
    font-weight: 600;
    color: black;
    border-bottom: 3px solid var(--color-bkp2);
}

#details:checked ~ #divIdContImgJobs .jobMarkets,
#details:checked ~ #divIdContImgJobs .jobVYoutube,
#details:checked ~ #divIdContImgJobs .jobVVimeo,
#markets:checked ~ #divIdContImgJobs .jobDetails,
#markets:checked ~ #divIdContImgJobs .jobVYoutube,
#markets:checked ~ #divIdContImgJobs .jobVVimeo,
#vYoutube:checked ~ #divIdContImgJobs .jobDetails,
#vYoutube:checked ~ #divIdContImgJobs .jobMarkets,
#vYoutube:checked ~ #divIdContImgJobs .jobVVimeo,
#vVimeo:checked ~ #divIdContImgJobs .jobDetails,
#vVimeo:checked ~ #divIdContImgJobs .jobMarkets,
#vVimeo:checked ~ #divIdContImgJobs .jobVYoutube {
    display: none;
}

#divIdContImgJobs {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.figureClassImgJobs {
    margin: 10px 20px 10px 0px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}

.imgClassFormatImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.h2ClassDescImgJob {
    font-size: 24px;
    font-weight: 600;
}

.pClassDescImgJob {
    font-size: 17px;
    font-weight: 300;
}

figcaption {
    display: none;
    color: white;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}

figure:hover figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* footer: Contact ------------------------------------------------------------------------ */
.divClassDivContact {
    width: 50%;
    margin-top: 80px;
    /* border: 1px solid black; */
}

.divClassDivContact h1 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}

.divClassDivContact p {
    font-weight: 400;
    font-size: 21px;
    line-height: 38px;
    margin-right: 80px;
}

.divClassDivContact > h1 + p {
    margin-bottom: 20px;
}

.divClassDivContact h2 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 21px;
}

.aClassFooter{
    margin-right: 20px;
    font-size: 25px;
    text-decoration: none;
    color: gray;
    transition: 300ms color ease-in;
}

.aClassFooter:hover{
    color: var(--colorIcon);
}

#divContIconContact {
    margin: 30px 0px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: 400;
    font-size: 21px;
    line-height: 38px;
    margin-bottom: 10px;
}

form input {
    padding-bottom: 3px;
    margin-bottom: 20px;
}

form input, form textarea {
    outline: none;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

form input:focus, form textarea:focus {
    border-bottom: 2px solid rgba(0,0,0,1);
}

form textarea {
    resize: vertical;
    padding: 5px;
    margin-bottom: 30px;
}

form button {
    cursor: pointer;
    width: 150px;
}