/* GENERAL ------------------------------------------------------------------------------------ */

/* LETRA GENÉRICA */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* LETRAS DE MENU PRINCIPAL */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* ICONOS DE REDES SOCALES */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/* ICONOS DE 'WHAT I DO' */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/* Variables */
:root {
    --color-bkp1: white;
    --color-bkp2: #d6ed17;
    --color-bkp3: rgb(248, 249, 250);
    --color-bkp4: rgb(230, 230, 230);
    --whidthImgOwn: 400px;
}

/* Sacamos margin y padding, definimos un scroll suave */
* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

/* Colores en clases predefinidos */
.classBkgColor1{
    background-color: var(--color-bkp1);
}

.classBkgColor2{
    background-color: var(--color-bkp2);
}

.classBkgColor3{
    background-color: var(--color-bkp3);
}

/* En el bode, definimos la fuente, ancho y tamaño de la misma */
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* Damos formatos a algunos contenedores generales de la página */
.classFormatPanel{
    width: 85%;
    display: flex;
    height: 100%;
    margin: 0 auto;
}

/* Dá formato al DIV que contiene los subtitulos y titulos de cada seccion */
.divClassTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Define el formato de los subtitulos en las secciones */
.pClassTitle{
    margin-top: 100px;
    padding: 0px 10px;
    background-color: var(--color-bkp2);
}

/* Define el formato de los titulos en las secciones */
.h1ClassTitle{
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0px 50px 0px;
}

/* Establece una configuracion predeterminada para todos los section y footer */
section, footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
/* FIN GENERAL ------------------------------------------------------------------------------- */

/* HEADER ------------------------------------------------------------------------------------ */
/* Fija el header y le dá formato */
header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 1px solid var(--color-bkp3);
}

.bi-list {
    display: none;
    cursor: pointer;
}

/* Define alineamientos al Header y a la seccion principal */
#divIdHeader, #divIdContSecMiain{
    justify-content:space-between;
    align-items: center;
}

/* Define la fuente y el ancho de la misma en el Logo y el menú principal */
.classFonMenu{
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
}

/* Setea el espaciado entre las letras del logo */
#h1IdLogo{
    letter-spacing: 5px;
}

/* Setea los items del menú principal */
.aClassItemBarMenu{
    margin-left: 15px;
    letter-spacing: 2px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: 300ms ease-in;
}

/* Cambia el color del item del menú principal al pasar el mouse por encima */
.aClassItemBarMenu:hover {
    color: var(--color-bkp2);
}

/* Dá formato a los iconos de contacto del menú principal */
.aClassMenu{
    margin-left: 5px;
    text-decoration: none;
    color: var(--color-out);
    transition: 300ms ease-in;
}

/* Cambia el color del icono de contacto del menú principal al pasar el mouse por encima */
.aClassMenu:hover{
    color: var(--color-in);
}
/* fin HEADER -------------------------------------------------------------------------------- */

/* SECCION PRINCIPAL ------------------------------------------------------------------------ */
/* Fija el ancho de la seccion principal al ancho de la pantalla */
#secIdMain {
    height: 100vh;
    align-items: center;
}

/* setea el display a flex column y establece un espaciado entre las lineas de texto */
#divId1secMain{
    line-height: 70px;
    display: flex;
    flex-direction: column;
}

/* Setea la fuente del h2 directo al id mencionado */
#divId1secMain > h2 {
    font-weight: 300;
    font-size: 35px;
}

/* setea el margen de todos los div hijos al div mencionado */
#divId1secMain div{
    margin-top: 20px;
}

/* setea el h1 de 'trabajo' y llama a las 2 animaciones siquientes */
#h1IdJob{
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    font-size: 50px;
    border-right: 0.25em solid black;
    animation: escribir 5.4s steps(34) infinite,
               parpadeo 0.3s steps(1) infinite;
}

/* animacion que cambia el ancho del objeto que lo llama */
@keyframes escribir {
    0%, 100%{
        width: 0%;
    }
    40%,60%{
        width: 100%;
    }
}

/* animacion que cambia el borde del objeto que lo llama */
@keyframes parpadeo{
    0%,100%{
        border-color: transparent;
    }
    50%{
        border-color: black;
    }
}

/* Setea el formato del botón  */
.classFormatButtons{
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    background-color: black;
    color: white;
    transition: 300ms ease-in;
}

/* cambia el color del botón al pasar por encima el mouse */
.classFormatButtons:hover{
    border-color: var(--color-bkp1);
    background-color: var(--color-bkp1);
    color: black;
    box-shadow: 5px 5px 10px black;
}

/* setea la etiqueta <a> con la palabra 'Contáctame' */
#aIdContact{
    margin-left: 30px;
    color: black;
    transition: 300ms ease-in;
}

/* cambia el color de la atiqueta <a> con la palabra 'Contáctame' al pasar por encima el mouse */
#aIdContact:hover{
    color:var(--color-bkp1);
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
}

/* setea el margen izquierdo del icono que está al lado de la etiqueta <a> con la palabra 'Contáctame' */
#iIdArrowCont{
    margin-left: 5px;
}

/* Setea la imagen ademas de su borde y la animación inicial */
#imgIdOwn{
    object-fit: cover;
    width: var(--whidthImgOwn);
    border-radius: 50em;
    border: 12px solid  var(--color-bkp1);
    animation: ampliarImg 1.5s ease-out;
}

/* Animación inicial para la imagen personal */
@keyframes ampliarImg{
    0%{
        opacity: 0%;
        width: 0px;
        margin-right: var(--whidthImgOwn)/2;
    }
    50%{
        opacity: 100%;
    }
    100%{
        width: var(--whidthImgOwn);
    }
}

/* Setea la flecha hacia abajao hubicada al final de la página principal */
#iIdArrowDown{
    margin-top: -60px;
    color: black;
    font-size: 20px;
    animation: movArrowDown 1.2s infinite;
}

/* Animacion de la flecha que indica seguir hacia abajo en la página principal */
@keyframes movArrowDown{
    from{
        opacity: 0%;
        transform: translate(0, 0px);
    }
    to{
        opacity: 100%;
        transform: translate(0, 30px);
    }
}
/* FIN SECCION PRINCIPAL -------------------------------------------------------------------- */

/* SECCION ACERCA DE ----------------------------------------------------------------------- */
/* Flex column al DIV contenedor del section */
#divIdKnowMe{
    flex-direction:column;
}

/* Setea el flex en el DIV que contiene la presentacion y los años de experiencia */
#divIdMeYear{
    display: flex;
    justify-content: space-between;
}

/* Establece el ancho de la presentación para que no esté tan cerca de los años de experiencia */
#divIdMe {
    width: 70%;
}


#h1IdIMe {
    font-weight: 100;
}

/* Formatea el contenido de la presentación */
#h1IdNameMe {
    font-weight: 700;
    border-bottom: 5px solid var(--color-bkp2);
}

#divIdMe h1 {
    display: inline-flex;
    margin-bottom: 15px;
}

#pIdMe {
    line-height: 35px
}
/* FIN del formateo del contenido de la presentación */

/* Centra los elementos dentro del DIV contenedor */
#divIdYear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Setea la frase 'Año de Experiencia' */
#pIdYear {
    padding-top: 25px;
    font-size: 25px;
}

/* Setea el ancho de la palapra 'Experiencia' en la frase 'Año de Experiencia' */
#pIdYear > strong {
    font-weight: 700;
}

/* Crea un circulo del color '--color-bkp2' y lo centra */
#divIdYearFig {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--color-bkp2);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Setea el numero de años de experiencia y aplica la animacion inicial de expandir el número */
#pIdYearFig {
    color: rgb(80,80,80);
    font-weight: 500;
    font-size: 150px;
    animation: expandYear 2s;
}

/* animacion para expandir el numero de años de experiencia */
@keyframes expandYear {
    0%{
        transform: scale(0.2);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.divClassDate{
    display: flex;
    width: 45%;
    justify-content: space-between;

}

/* .divClassDate  + .divClassDateBlk {
    padding-left: 50px;
} */

/* Seteo ded los detalles personales */
#divIdDate {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}

.divClassDateBlk {
    padding: 50px 0px 30px 0px;
}

.pClassDateTitle {
    color: gray;
}

.aClassDateDescrip {
    color: black;
    font-weight: bold;
}
/* FIN Seteo ded los detalles personales */
/* FIN SECCION ACERCA DE -------------------------------------------------------------------- */

/* SECCION SERVICIOS ----------------------------------------------------------------------- */
/* establece el contenedor del section en flex column */
#divIdContWhatIDo {
    flex-direction: column;
}

/* Setea el diaply del contenedor con un grid de 3 columnas un tamaño de una fraccion de espacio por columna */
#divIdContBoxWhatIDo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Da estilo al contenido de cada servicio */
.divClassBoxWhatIDo {
    padding: 20px 10px 30px 15px;
    text-align: center;
    transition: 0.5s ease-out;
}

/* Realiza un sombreado sobre el DIV de cada servicio al pasar el mouse por encima */
.divClassBoxWhatIDo:hover {
    box-shadow: 1px 1px 15px var(--color-bkp2);
}

/* Establece el color y el tamaño de los iconos contenidoa en el DIV de cada servicio */
.iClassIcon {
    color: var(--color-bkp2);
    font-size: 55px;
}

/* Establece un margen para el título de cada servicio */
.h3ClassWhatIDo {
    margin-top: 5px;
    margin-bottom: 15px;
}

/* Setea la fuente de la descricpión de cada servicio */
.pClassWhatIDo {
    text-align: left;
    color: gray;
    font-size: 17px;
}
/* FIN SECCION SERVICIOS -------------------------------------------------------------------- */

/* SECCION RESUME -------------------------------------------------------------------------- */
/* Setea el flex en column al DIV contenedor del section */
#divIdContGralResume {
    flex-direction: column;
}

/* Crea 2 columnas para mostrar el contenido de resume*/
#divIdContResume {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
}

/* Da el 100% de su ancho al DIV contenedor de la educacion y la experiencia */
#divIdContResume > div {
    width: 100%;
}

/* Setea los h1 del DIV contenedor de la educacion y la experiencia  */
#divIdContResume h1 {
    font-weight: 600;
    margin: 23px 0px 23px 0px;
}

/* Setea los DIVS de experiencia y educacion , tambien su contenido y le dá animación  */
.divClassBlockResume {
    padding: 0px 15px 0px 16px;
    border-left: 2px solid var(--color-bkp2);
}

.divClassBlockResume h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 2px 0px;
    transition: 0.5s;
}

.divClassBlockResume p {
    font-size: 15px;
    color: rgb(170, 170, 170);
    line-height: 30px;
    padding: 0px 30px 0px 0px;
    transition: 0.5s;
}

.divClassBlockResume > h2 + p {
    color: black;
    margin-bottom: 9px;
}

.divClassBlockResume hr {
    width: 87%;
    border: none;
    height: 1px;
    background-color: rgba(180, 180, 180, 0.2);
    margin: 20px 0px 20px 0px;
    transition: 0.5s;
}

.divClassBlockResume:hover h2{
    text-shadow: 1px 1px 0.1px var(--color-bkp2);
}

.divClassBlockResume:hover p {
    color: black;
}

.divClassBlockResume:hover hr {
    background-color: black;
}
/* FIN del seteo de los DIVS de experiencia y educación */

/* Setea la frase 'Mis habilidades' */
#h1IdMySkills { 
    font-weight: 600;
    margin-top: 60px;
}

/* Setea el DIV contenedor general de las 6 barras de progreso */
#divIdContGralPBar{
    display: flex;
    width: 100%;
}

/* Setea el ancho al 50% de los 2 contenedores que tienen 3 barras de habilidades cada uno */
.divClassSubContPBar {
    width: 50%;
}

/* Setea el contenedor de la barra de habilidad */
.divClassContPBarr {
    margin: 30px 0px 30px 0px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.pClassPBarr{
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    display:flex;
    margin-bottom: 12px;
    justify-content: space-between;
}

.pClassPBarrPorc {
    text-align: right;
}

.divClassPBarr{
    width: 100%;
    height: 8px;
    background-color: var(--color-bkp4);
    border-radius: 4px;
}
/* FIN del setea del contenedor de la barra de habilidad
 */
/* Barra de habilidad */
.hrClassPBarr {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    height: 100%;
    width: var(--whidthPBarr);
    background-color: var(--color-bkp2);
    animation: aumentarPBar 1.5s ease;
}

/* Animacion que se realiza una sola vez al iniciar la página, llena la barra de rpogreso */
@keyframes aumentarPBar {
    0% {
        width: 0%;
    }
    100% {
        width: var(--whidthPBarr);
    }
}

/* Setea el contenedor del botón 'Descargar CV' */
#divIdButton {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Crea el botón 'Descargar CV' */
#aIdButtonDown{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    background-color: white;
    padding: 14px 50px;
    margin: 40px 0px 100px 0px;
    font-weight: 600;
    font-size: 15px;
    transition: 300ms ease-in;
}

/* Genera cambio de colores y sombra al pasar el mouse por encima del botón 'Descargar CV' */
#aIdButtonDown:hover {
    color: white;
    background-color: black;
    box-shadow: 5px 5px 10px black;
}
/* FIN SECCION RESUME ----------------------------------------------------------------------- */

/* SECCION PORTFOLIO ------------------------------------------------------------------------ */
/* Setea el padding bottom de la 'Seccion portfolio' */
#secIdJobs {
    padding-bottom: 100px;
}

/* Setea el flex en column del DIV contenedor del subtítulo y las imágenes */
#idContJobs {
    flex-direction: column;
}

/* Centra el submenú de imágenes */
#divIdContMenuJobs {
    text-align: center;
}

/* Setea el submenú y le dá efecto al seleccionar una opción */
input[type=radio] + label {
    cursor: pointer;
    margin-left: 30px;
    color: gray;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + label{
    font-weight: 600;
    color: black;
    border-bottom: 3px solid var(--color-bkp2);
}
/* FIN del seteo del submenú de imágenes */

/* Filtra las imágenes de acuerdo a la opción del submenú seleccionado */
#details:checked ~ #divIdContImgJobs .jobMarkets,
#details:checked ~ #divIdContImgJobs .jobVYoutube,
#details:checked ~ #divIdContImgJobs .jobVVimeo,
#markets:checked ~ #divIdContImgJobs .jobDetails,
#markets:checked ~ #divIdContImgJobs .jobVYoutube,
#markets:checked ~ #divIdContImgJobs .jobVVimeo,
#vYoutube:checked ~ #divIdContImgJobs .jobDetails,
#vYoutube:checked ~ #divIdContImgJobs .jobMarkets,
#vYoutube:checked ~ #divIdContImgJobs .jobVVimeo,
#vVimeo:checked ~ #divIdContImgJobs .jobDetails,
#vVimeo:checked ~ #divIdContImgJobs .jobMarkets,
#vVimeo:checked ~ #divIdContImgJobs .jobVYoutube {
    display: none;
}

/* Setea el DIV que contiene las imágenes y establece un grid de 3 columnas con tamaño de una fraccion de espacio por columna */
#divIdContImgJobs {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Setea el contenedor de cada imágen del portfolio */
.figureClassImgJobs {
    margin: 10px 20px 10px 0px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

/* Dá el formato a cada imagen del portfolio */
.imgClassFormatImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Setea la fuente del título de cada imagen del portfolio */
.h2ClassDescImgJob {
    font-size: 24px;
    font-weight: 600;
}

/* Setea la fuente de la categoría de cada imagen del portfolio */
.pClassDescImgJob {
    font-size: 17px;
    font-weight: 300;
}

/* Setea el 'figcaption' que contiene la información de la imagen del portfolio */
figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    left: 0px;
    text-align: center;
}

/* Ejecuta la animacion de Bajar cuadro y lo mantiene visible mientras se posicione el mouse por encima */
figure:hover figcaption {
    animation:bajarCuadro 550ms ease-in;
    top: 0%;
}

/* Animación que baja el cuadro con la información de la imagen del portfolio que está señalada con el mouse */
@keyframes bajarCuadro {
    0%{
        top: -100%;
        border-bottom: 5px solid var(--color-bkp2);
    }
    100%{
        top: 0%;
        border-bottom: 5px solid var(--color-bkp2);
    }
}
/* FIN SECCION PORTFOLIO --------------------------------------------------------------------- */

/* FOOTER ------------------------------------------------------------------------------------ */
/* Setea los 2 DIVs contenedores al 50% del ancho del padre ('classFormatPanel') */
.divClassDivContact {
    width: 50%;
    margin-top: 80px;
}

/* Setea el contenido de cada DIV de contactos */
.divClassDivContact h1 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}

.divClassDivContact p {
    font-weight: 400;
    font-size: 21px;
    line-height: 38px;
    margin-right: 80px;
}

.divClassDivContact > h1 + p {
    margin-bottom: 20px;
}

.divClassDivContact h2 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 21px;
}
/* FIN de seteo de DIV de contactos */

/* Setea cada icono de contacto y dá efecto al posicionar el mouse por encima */
.aClassFooter{
    margin-right: 20px;
    font-size: 25px;
    text-decoration: none;
    color: gray;
    transition: 300ms color ease-in;
}

.aClassFooter:hover{
    color: var(--colorIcon);
}

#divContIconContact {
    margin: 30px 0px;
}
/* FIN de seteo de iconos de contacto */

/* Dá formato y efecto al formulario y su contenido */
form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: 400;
    font-size: 21px;
    line-height: 38px;
    margin-bottom: 10px;
}

form input {
    padding-bottom: 3px;
    margin-bottom: 20px;
}

form input, form textarea {
    outline: none;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

form input:focus, form textarea:focus {
    border-bottom: 2px solid rgba(0,0,0,1);
}

form textarea {
    resize: vertical;
    padding: 5px;
    margin-bottom: 30px;
}

form button {
    cursor: pointer;
    width: 150px;
    margin-bottom: 50px;
}
/* FIN de formato y efecto del formulario */
/* FIN FOOTER --------------------------------------------------------------------------------- */

/* REAPONSIVE DESIGN -------------------------------------------------------------------------- */
@media (max-width:1200px){
    #divIdContSecMiain{
        justify-content: space-around;
        flex-direction: column-reverse;
    }
    #divId1secMain{
        margin-top: -70px;
        line-height: 50px;
    }
    #imgIdOwn{
        --whidthImgOwn: 350px;
        margin-top: 40px;
    }
}

@media (max-width: 900px) {
    #divIdHeader nav, #divIdHeader div{
        display: none;
    }
    .bi-list {
        display: block;
    }
    #divIdDate{
        flex-direction: row;
    }
    .divClassDate{
        display: flex;
        flex-direction: column;
    }
    #divIdDateBlkDer{
        align-items: flex-end;
    }
    #divIdMeYear{
        flex-direction: column;
        align-items: center;
    }
    #divIdMe{
        text-align: center;
    }
    #divIdYear{
        margin-top: 40px;
    }
    #divIdContBoxWhatIDo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #divIdContImgJobs {
        grid-template-columns: repeat(2, 1fr);
    }
    #footerId .classFormatPanel {
        flex-direction: column;
    }
    .divClassDivContact{
        width: 100%;
    }
}

@media (max-width: 600px) {
    #divIdContBoxWhatIDo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #divIdContResume {
        grid-template-columns: repeat(1, 1fr);
    }
    #divIdContGralPBar {
       flex-direction: column;
    }
    .divClassSubContPBar{
        width: 100%;
    }
    #divIdContImgJobs {
        grid-template-columns: repeat(1, 1fr);
    }
}